@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "fontawesome/scss/font-awesome";
@import "variables";
@import "utils";
@import "compass";


/* centered columns styles */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

.navbar h4 {
  color: rgb(255,255,255);
}

a.navbar-link {
  color: rgb(255,255,255);
  font-size: 18px;
  font-weight: bold;
}

a.navbar-link:hover {
  background-color: transparent !important;
}

h1.header {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 70px;
  padding-top: 100px;
  text-align: center;
}

h2.sub-header {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: white;
}

div.main {
  background-image:url('/images/home.jpg');
  min-height:600px;
  background-size: cover;
  background-repeat: no-repeat;
}

section h2 {
  font-size:xx-large;
}

.brand {
    color: white;
    font: 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    @media (min-width: $screen-md-min) { font-size: 25px; }
}

/* Signup Form */

.form-col{
  padding: 3px;
}
.signup-input  {
  color: #848484;
  height: 60px;
  line-height: 60px;
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #c6c6c6;
  font-size: 18px;
}
.signup-input:focus{
    border: 2px solid #84c51f;
}
.signup-submit{
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #84c51f;
  background-color: #84c51f;
  font-size: 18px;
  width: 446px;
}
.signup-submit:hover{
    border: 2px solid #449d44;
    background-color: #84c51f;
}

/* What is it container */

.what-is-container {
  margin-bottom: 40px;
}

.what-is-container p {
  font-size: 20px;
}

/* Benefits container */

.benefits-container {
  background-color: rgb(33, 51, 56);
  color: rgb(255,255,255);
}

.benefits-container p{
  font-size: 17px;
}

/* Invoice container */

.invoice-container {
  background-color: #359eab;
  color: #fff;
}

.feature-box {
  margin-top: 60px;
  margin-bottom: 60px;
}

.invoice-container p {
  font-size: 20px ;
}