$menu-height: 50px;

/** Body **/
$body-background: rgb(51,51,51);
/** Menu **/
$menu-color: #2F4A2E;
$menu-active-color: rgb(244, 140,7);
$menu-hover-color: rgb(244, 140,7);
$menu-font-color: white;
/** Common **/
$button-color: rgb(244, 140,7);
$button-font-color: white;